@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url('img/slider.jpg');
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 63px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 57px;
}

.menu a {
    padding: 10px 13px;
    display: block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
}

.menu a:hover {
    color: #212121;
}

.menu .active-link {
    color: #212121;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: right;
    border-bottom: 3px solid #212121;
}

.slider-text {
    padding-top: 283px;
}

.slider-text h4 {
    color: #43a047;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.slider-text h2 {
    color: #212121;
    font-size: 62px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.slider-text a {
    display: inline-block;
    border-radius: 22.5px;
    color: #212121;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 31px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.slider-text img {
    background-color: #212121;
    width: 9px;
    height: 12px;
}

.slider-text p {
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 32px;
    margin-top: 10px;
}

.slider .nav {
    margin-left: 525px;
    margin-top: 105px;
    position: relative;
    background-color: transparent;
}

.slider .nav .active {
    position: absolute;
    top: 0;
    left: 40px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.featured-new {
    display: flex;
    list-style-type: none;
}

.featured-new a {
    padding: 10px 13px;
    padding-top: 120px;
    display: block;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid #6c6c6c;
}

.featured-new a:hover {
    color: #212121;
    border-bottom: 1px solid #212121;
}

.featured-new .active-link {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.featured-new .active-link:hover {
    border-bottom: 3px solid #212121;
}

.explore-all {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    padding-top: 138px;
    letter-spacing: 5px;
}

.product {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 120px;
}

.item {
    position: relative;
}

.product-hover {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    width: 268px;
    height: 268px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

.item:hover .product-hover {
    display: block;
}

.product-hover a {
    background-color: #212121;
    width: 48px;
    height: 48px;
    display: inline-block;
    border-radius: 48px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 10px 31px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    margin-top: 62px;
    padding: 0;
}

.product-hover img {
    width: 12px;
    height: 20px;
    padding: 14px 18px;
}

.product-hover p {
    color: #6c6c6c;
    font-size: 13.94px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding: 0 29px;
}

.product-hover h3 {
    color: #212121;
    font-size: 21.91px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 30px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0041);
}

.promo-items {
    display: flex;
}

.promo {
    height: 683px;
    width: 683px;
}

.promo-1 {
    background-image: url('img/promo-img1.jpg');
}

.promo-2 {
    background-image: url('img/promo-img.jpg');
}

.promo-text {
    padding-top: 228px;
    padding-left: 51px;
}

.promo-text h4 {
    color: #1e88e5;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.promo-text h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.promo-text a {
    display: inline-block;
    border-radius: 22.5px;
    color: #212121;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 31px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.promo-text img {
    background-color: #212121;
    width: 9px;
    height: 12px;
}

.promo-text p {
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 32px;
    margin-top: 10px;
}

.trending-prod p {
    padding: 10px 13px;
    padding-top: 120px;
    display: block;
    text-decoration: none;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 64px;
}

.tr-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.tr-items a {
    display: block;
}

.trending {
    margin-bottom: 120px;
}

.hot-deal {
    background-image: url(img/slider-2.jpg);
    height: 800px;
}

.hot-text {
    padding-top: 287px;
}

.hot-text h4 {
    color: #e53935;
}

.hot-text h4 {
    color: #43a047;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.hot-text h2 {
    color: #212121;
    font-size: 62px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.hot-text a {
    display: inline-block;
    border-radius: 22.5px;
    color: #212121;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 31px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.hot-text img {
    background-color: #212121;
    width: 9px;
    height: 12px;
}

.hot-text p {
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 32px;
    margin-top: 10px;
}

.hot-deal .nav {
    margin-left: 525px;
    margin-top: 200px;
    position: relative;
    background-color: transparent;
}

.hot-deal .nav .active {
    position: absolute;
    top: 0;
    left: 40px;
}

.bottom-items {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.bottom-item-1 {
    background-image: url(img/product-1-lg.jpg);
    width: 570px;
    height: 570px;
}

.two-items {
    width: 270px;
}

.upper-item {
    padding-bottom: 30px;
}

.bottom-text {
    padding-top: 186px;
    padding-left: 31px;
}

.mobile {
    height: 516px;
    background-image: url(img/back-img.jpg);
}

.mobile-text {
    padding-top: 125px;
    width: 500px;
}

.mobile-text h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    color: #6c6c6c;
}

.mobile-text h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.mobile-text p {
    width: 458px;
    color: #6c6c6c;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 32px;
    margin-top: 10px;
    font-size: 22px;
}

.app-links {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #f7f7f7;
    height: 384px;
    padding-top: 120px;
}

.footer .cols {
    display: flex;
    justify-content: space-between;
}

.footer .col {
    width: 221px;
}

.footer h2 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.footer .col p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer .mid {
    width: 422px;
}

.footer .mid .text {
    display: flex;
    justify-content: space-between;
}

.footer .mid .text p {
    width: 187px;
}

.footer .mid p {
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}